name: DeepOptimalControl
channels:
  - defaults
dependencies:
  - python=3.10
  - pip
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - ipykernel
  - pip:
    - torch
    - torchvision
    - torchaudio
